{% extends './inc/layout_admin.html' %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">管理首页</a></li>
            <li class="breadcrumb-item active" aria-current="page">分类列表</li>
        </ol>
    </nav>

    <h3>分类列表</h3>


    {% include './inc/page_category.html' %}


    <table class="table table-hover table-striped">

        <tr>
            <th>ID</th>
            <th>分类名称</th>
            <th>排序</th>
            <th>操作</th>
        </tr>

        {% for category in categories %}
        <tr>
            <td>{{category._id.toString()}}</td>
            <td>{{category.name}}</td>
            <td>{{category.sequence}}</td>
            <td>
                <a href="/admin/category/edit?id={{category._id.toString()}}">修改</a> |
                <a href="/admin/category/delete?id={{category._id.toString()}}">删除</a>
            </td>
        </tr>
        {% endfor %}

    </table>

    {% include './inc/page_category.html' %}


{% endblock %}